body {
	width: 70%;
	margin: auto;
	font-family: sans-serif;
}

.header {
	size: 24px;
	text-align: center;
	margin-top: 30%;
}

.btn-change-theme {
	width: 90px; 
    margin: auto; 
    margin-left: 32%;
}

.btn-change-theme button{
	width: 540%;
	height: 30px;
	border: none; 
	border-radius: 5px;
	outline: none;
}

.dark-theme {
	background-color: black;
	color: white;
}
